* {
	margin: 0;
	padding: 0;
}

.icon {
	width: 97px;
	height: 97px;
	display: inline-block;
	text-indent: -9999em;
	background: url(../images/icons.jpg) no-repeat scroll 0 0 transparent;
}

.icon-disqus {
	background-position: 0 -97px;
}

.icon-facebook {
	background-position: 0 0;
}

.icon-linkedin {
	background-position: -97px -97px;
}

.icon-pinterest {
	background-position: -194px 0;
}

.icon-plusone {
	background-position: -97px 0;
}

.icon-twitter {
	background-position: -97px -194px;
}

.container {
	text-align: center;
}

.social {
	list-style-type: none;
}

.item {
	border-bottom: 1px solid #ccc;
	padding: 60px 20px;
	background-color: #f9f9f9;
	text-align: center;
}

.item:nth-child(odd) {
	background-color: #f1f1f1;
}

